.card {
    width: 400px;
    /* min-width: 400px; */
}

.cardHeader {
    display: block;
}

.inputGroup {
    height: 100%;
}

.areaListGroup{
    overflow: auto;
    width: 100%;
}
.categoryListGroup{
    overflow: auto;
    width: 100%;
}

.recommendBtn {
    border: 1px solid;
}

.recommendBtn:hover {
    border: 1px solid #F288CD;
}