.card {
    width: 400px;
    /* min-width: 400px; */
}

.cardHeader {
    display: block;
    height: 100px;
}

.inputGroup {
    height: 100%;
}

.areaListGroup {
    overflow: auto;
    width: 100%;
    height: 400px;
}

.categoryListGroup {
    overflow: auto;
    width: 100%;
    height: 400px;
}

.recommendBtn {
    border: 1px solid transparent;
}

.recommendBtn:hover {
    border: 1px solid #F288CD;
}

.searchBtn:hover {
    transform: scale(1.05);
}