.inputGroup {
    margin-bottom: 0;
    padding-bottom: 0;
}

.warning {
    color: red;
}

.pass {
    color: rgb(38, 89, 255)
}

.btns {
    color: black;
    border-color: #F288CD;
    background-color: white;
}

.btns:hover {
    color: white;
    border-color: #F288CD;
    background-color: #F288CD;
}

#joinBtn {
    margin-top: 30px;
    width: 200px;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border-color: #F288CD;
    background-color: #F288CD;
}

#joinBtn:hover {
    transition-duration: 0.3s;
    color: black;
    border-color: #F288CD;
    background-color: white;
}

.changBtn {
    width: 200px;
    margin: 15px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.changBtn:hover {
    border-color: #F288CD;
}

.WithdrawalBtn {
    width: 200px;
    margin: 0 0 15px 0;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.WithdrawalBtn:hover {
    border: 1px solid #F288CD;
}

.postModal {
    height: 800px;
}