.headerBtn {
    margin-left: 15px;
    border: 1px solid;
}

.headerBtn:hover {
    border: 1px solid #F288CD;
}

.registerBtns {
    border: 1px solid;
}

.registerBtns:hover {
    border: 1px solid #F288CD;
}

.btn.show {
    border: 1px solid #F288CD;
}

.btn:disabled {
    border: 1px solid;
}

.ql-container {
    min-height: 400px;
}