* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 8px 6vw;
    background-color: white;
    border-bottom: 2px solid #F2884B;
}

.navLink {
    height: 80px;
    padding: 8px 0;
    color: black;
    display: flex;
    align-items: center;
}

.navLink:hover {
    color: #F2884B
}


.loginBtn {
    color: black;
    border-color: #F288CD;
    background-color: white;
}

.loginBtn:hover {
    color: white;
    border-color: #F288CD;
    background-color: #F288CD;
}

/* 모달 */

.modal-dialog {
    display: flex;
    justify-content: center;
}

.modal-content {
    width: 480px;
}

.modalFooter {
    justify-content: space-around;
}

.modalInput {
    margin-bottom: 10px;
}

.joinBtn {
    width: 45%;
    color: black;
    border-color: #F288CD;
    background-color: white;
}

.joinBtn:hover {
    color: white;
    border-color: #F288CD;
    background-color: #F288CD;
    transform: scale(1.1);
}

.modalLoginBtn {
    width: 45%;
    color: white;
    border-color: #F288CD;
    background-color: #F288CD;
}

.modalLoginBtn:hover {
    transform: scale(1.1);
    color: white;
    border-color: #F288CD;
    background-color: #F288CD;
}

.socialLogo:hover {
    cursor: pointer;
}

/* 모달 */

.footerIcon {
    margin: 0 5px;
    padding: 2px;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.modalHeader {
    display: flex;
    flex-direction: column;
}