* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chatBot {
    width: 100%;
    height: 2vw;
}

.chatBotMobile {
    height: 10vw;
    width: 10vw;
}

.chatBot:hover {
    color: #F2884B;
}

.defaultProfile {
    width: 100%;
    height: 2vw;
}

.defaultProfile:hover {
    color: #F2884B;
}

.chatBotBody {
    display: flex;
    justify-content: center;
    align-items: end;
}

.chatBotBtn {
    color: black;
    border-color: #F2884B;
}

.chatBotBtn:hover {
    border-color: #F2884B;
    background-color: #F2884B;
}