<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myspring.daengnyang.member.mapper.MemberMapper">
    <resultMap id="memberInfoResultmap" type="com.myspring.daengnyang.member.vo.MemberInfoVO">
        <id property="memberNo" column="memberNo"/>
        <result property="nickname" column="nickname"/>
        <result property="profileImg" column="profileImg"/>
        <result property="address" column="address"/>
        <result property="addressDetail" column="addressDetail"/>
        <result property="favoritePet" column="favoritePet"/>
        <result property="phoneNumber" column="phoneNumber"/>


    </resultMap>

    <insert id="createMember" useGeneratedKeys="true" keyProperty="memberNo">
        <selectKey keyProperty="memberNo" resultType="int" order="BEFORE">
            SELECT member_seq.NEXTVAL FROM dual
        </selectKey>
        <![CDATA[
            INSERT INTO "member" ("memberNo","email","password")
            VALUES ('2024' || LPAD(#{memberNo}, 5, '0'), #{email}, #{password})
        ]]>
    </insert>

    <select id="getMemberNo" resultType="int">
        <![CDATA[
            SELECT "memberNo"
            FROM "member"
            WHERE "email" = #{email}
        ]]>
    </select>

    <select id="getMemberInfo" resultMap="memberInfoResultmap">
        <![CDATA[
            SELECT *
            FROM "memberInfo"
            WHERE "memberNo" = #{memberNo}
        ]]>
    </select>

    <select id="getFavorite" resultType="Integer">
        <![CDATA[
            SELECT "animalNum"
            FROM "favorite"
            WHERE "memberNo" = #{memberNo}
        ]]>
    </select>

    <select id="getMemberPost" resultType="com.myspring.daengnyang.board.vo.BoardVO">
        <![CDATA[
            SELECT *
            FROM "Board"
            WHERE "memberNo" = #{memberNo}
        ]]>
    </select>

    <insert id="createMemberInfo">
        <![CDATA[
            INSERT INTO "memberInfo" ("nickname","memberNo","profileImg","address", "addressDetail","favoritePet","phoneNumber")
            VALUES (#{nickname}, #{memberNo}, #{profileImg}, #{address}, #{addressDetail}, #{favoritePet}, #{phoneNumber})
        ]]>
    </insert>


    <select id="getMember" parameterType="String" resultType="com.myspring.daengnyang.member.vo.MemberVO">
        <![CDATA[
            SELECT *
            from "member"
            where "email" = #{email}
        ]]>
    </select>

    <select id="getDuplicationEmail" parameterType="String" resultType="String">
        <![CDATA[
            SELECT "email"
            from "member"
            where "email" = #{email}
        ]]>
    </select>

    <select id="duplicationNickname" parameterType="String" resultType="Integer">
        <![CDATA[
            SELECT count(*)
            FROM "memberInfo"
            WHERE "nickname" = #{nickname}
        ]]>
    </select>


</mapper>