<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myspring.daengnyang.member.mapper.MemberMapper">
    <resultMap id="memberInfoResultmap" type="com.myspring.daengnyang.member.vo.MemberInfoVO">
        <id property="memberNo" column="memberNo"/>
        <result property="nickName" column="nickname"/>
        <result property="profileImg" column="profileImg"/>
        <result property="inputAddress" column="address"/>
        <result property="detailedAddress" column="addressDetail"/>
        <result property="mypet" column="favoritePet"/>
        <result property="phoneNumber" column="phoneNumber"/>
        <result property="inputZonecode" column="inputZonecode"/>


    </resultMap>

    <insert id="createMember" useGeneratedKeys="true" keyProperty="memberNo">
        <selectKey keyProperty="memberNo" resultType="int" order="BEFORE">
            SELECT member_seq.NEXTVAL FROM dual
        </selectKey>
        <![CDATA[
            INSERT INTO "member" ("memberNo","email","password")
            VALUES (TO_CHAR(SYSDATE, 'YYYY') || LPAD(#{memberNo}, 5, '0'), #{email}, #{password})
        ]]>
    </insert>

    <select id="getMemberNo" resultType="int">
        <![CDATA[
            SELECT "memberNo"
            FROM "member"
            WHERE "email" = #{email}
        ]]>
    </select>

    <select id="getMemberInfo" resultMap="memberInfoResultmap">
        <![CDATA[
            SELECT *
            FROM "memberInfo"
            WHERE "memberNo" = #{memberNo}
        ]]>
    </select>

    <select id="getFavorite" resultType="com.myspring.daengnyang.animal.vo.AnimalLocationVO">
        <![CDATA[
            SELECT A.*
            FROM "animalLocation" A,
                 (select * from "favorite" f where f."memberNo" = #{memberNo} and f."Field" = 1) f
            WHERE f."animalNum" = A."animalNum"
            ORDER BY "favDate" DESC
        ]]>
    </select>

    <select id="getMemberPost" resultType="com.myspring.daengnyang.board.vo.BoardVO">
        <![CDATA[
            SELECT *
            FROM "Board"
            WHERE "memberNo" = #{memberNo}
        ]]>
    </select>

    <insert id="createMemberInfo">
        <![CDATA[
            INSERT INTO "memberInfo" ("nickname","memberNo","profileImg","address", "addressDetail","favoritePet","phoneNumber","inputZonecode")
            VALUES (#{nickname}, #{memberNo}, #{profileImg}, #{address}, #{addressDetail}, #{favoritePet}, #{phoneNumber}, #{inputZonecode})
        ]]>
    </insert>


    <select id="getMember" parameterType="String" resultType="com.myspring.daengnyang.member.vo.MemberVO">
        <![CDATA[
            SELECT *
            from "member"
            where "email" = #{email}
        ]]>
    </select>

    <select id="getDuplicationEmail" parameterType="String" resultType="String">
        <![CDATA[
            SELECT "email"
            from "member"
            where "email" = #{email}
        ]]>
    </select>

    <select id="duplicationNickname" parameterType="String" resultType="Integer">
        <![CDATA[
            SELECT count(*)
            FROM "memberInfo"
            WHERE "nickname" = #{nickname}
        ]]>
    </select>

    <update id="updateProfile">
        <![CDATA[
            UPDATE "memberInfo"
            SET "nickname" = #{nickname},
                "profileImg" = #{profileImg},
                "address" = #{address},
                "addressDetail" = #{addressDetail},
                "favoritePet" = #{favoritePet},
                "phoneNumber" = #{phoneNumber},
                "inputZonecode" = #{inputZonecode}
            WHERE "memberNo" = #{memberNo}
        ]]>
    </update>


</mapper>