<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myspring.daengnyang.board.mapper.BoardMapper">

    <!--게시글 목록에 필요한 내용인 글 번호, 제목, 조회 수, 작성일을 조회 -->
    <select id="selectBoardList" parameterType="String" resultType="com.myspring.daengnyang.board.vo.BoardVO">
        <![CDATA[
            SELECT
                "boardId",
                "memberNo",
                "nickname",
                "category",
                "boardName",
                "createDate",
                "reviewCnt"
            FROM
                "Board"
            WHERE
                "category" = #{category}
        ]]>
    </select>

    <select id="selectBoardReviewList" parameterType="int" resultType="com.myspring.daengnyang.board.vo.ReviewVO">
        <![CDATA[
            SELECT
                "boardReviewNum",
                "boardId",
                "nickname",
                "memberNo",
                "review",
                "star",
                "createDate"
            FROM
                "Boardreview"
            WHERE
                "boardId" = #{boardId}
        ]]>
    </select>

    <update id="updateReviewCnt">
        UPDATE "Board"
        SET "reviewCnt" = "reviewCnt" + #{amount}
        WHERE "boardId" = #{boardId}
    </update>
    
    <select id="getBoardDetail" parameterType="int" resultType="com.myspring.daengnyang.board.vo.BoardDetailVO" >
        SELECT *
        FROM "BoardDetail"
        WHERE "boardId" = #{boardId}
    </select>

    <delete id="deleteBoard">
        DELETE
        FROM "Board"
        WHERE "boardId" = #{boardId}
    </delete>

    <delete id="deleteBoardReview">
        DELETE
        FROM "Boardreview"
        WHERE "boardReviewNum" = #{boardReviewNum}
    </delete>

    <insert id="postBoard" useGeneratedKeys="true" keyProperty="boardId" parameterType="com.myspring.daengnyang.board.vo.BoardPostVO">
        <selectKey keyProperty="boardId" resultType="int" order="BEFORE">
            SELECT board_seq.NEXTVAL FROM dual
        </selectKey>
        <![CDATA[
            INSERT INTO "Board"
                ("boardId", "memberNo", "nickname",
                "category", "boardName", "createDate", "reviewCnt")
            VALUES (#{boardId}, #{boardPostVO.memberNo}, #{boardPostVO.nickname},
                    #{boardPostVO.category}, #{boardPostVO.boardName}, SYSDATE, 0)
        ]]>
    </insert>

    <select id="getBoardId" resultType="int">
        <![CDATA[
            SELECT "boardId"
            FROM "Board"
            WHERE "boardId" = (SELECT MAX("boardId") FROM "Board")
        ]]>
    </select>

    <insert id="postBoardDetail" parameterType="com.myspring.daengnyang.board.vo.BoardPostVO">
        <selectKey keyProperty="createDate" resultType="date" order="BEFORE">
            SELECT "createDate"
            FROM "Board"
            WHERE "boardId" = #{boardPostVO.boardId}
        </selectKey>
        <![CDATA[
            INSERT INTO "BoardDetail"
                ("boardId", "nickname", "memberNo", "category",
                "BoardName", "Field", "imgPath", "createDate")
            VALUES (#{boardPostVO.boardId}, #{boardPostVO.nickname}, #{boardPostVO.memberNo}, #{boardPostVO.category},
                    #{boardPostVO.boardName}, #{boardPostVO.field}, #{boardPostVO.imgPath}, #{createDate})
        ]]>
    </insert>

    <insert id="postReview" useGeneratedKeys="true" keyProperty="boardReviewNum" parameterType="com.myspring.daengnyang.board.vo.ReviewVO">
        <selectKey keyProperty="boardReviewNum" resultType="int" order="BEFORE">
            SELECT boardreview_seq.NEXTVAL FROM dual
        </selectKey>
        <![CDATA[
            INSERT INTO "Boardreview"
                ("boardReviewNum", "boardId", "nickname", "memberNo", "review", "createDate")
            VALUES (#{boardReviewNum}, #{reviewVO.boardId}, #{reviewVO.nickname},
                    #{reviewVO.memberNo}, #{reviewVO.review}, SYSDATE)
        ]]>
    </insert>

    <select id="getMemberNo" resultType="int" parameterType="String">
        SELECT "memberNo"
        FROM "memberInfo"
        WHERE "nickname" = #{nickname}
    </select>

    <update id="modifyPost" parameterType="com.myspring.daengnyang.board.vo.BoardPostVO">
        <![CDATA[
            UPDATE "Board"
            SET "category" = #{boardPostVO.category}, "boardName" = #{boardPostVO.boardName}
            WHERE "boardId" = #{boardPostVO.boardId}
        ]]>
    </update>

    <update id="modifyPostDetail" parameterType="com.myspring.daengnyang.board.vo.BoardPostVO">
        <![CDATA[
            UPDATE "BoardDetail"
            SET "category" = #{boardPostVO.category}, "BoardName" = #{boardPostVO.boardName},
                "Field" = #{boardPostVO.field}, "imgPath" = #{boardPostVO.imgPath}
            WHERE "boardId" = #{boardPostVO.boardId}
        ]]>
    </update>

    <update id="modifyReview" parameterType="com.myspring.daengnyang.board.vo.ReviewVO">
        <![CDATA[
            UPDATE "Boardreview"
            SET "review" = #{reviewVO.review}
            WHERE "boardReviewNum" = #{reviewVO.boardReviewNum}
        ]]>
    </update>


</mapper>